<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" style="z-index: 3;position: absolute;">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="titleBackground">
      <h4 class="example-app-name">Картка вінничанина</h4>
    </div>
    <div class="left-menu" style="height: 100%; font-size: 15px; top: 5px;">
      <div *ngIf="showFiller == true" class="mat-toolbar-menu" style="height: 100%; margin-left: 0%;">
        <div style="width: max-content; display:  -webkit-inline-box; position:  relative;">
          <div id="user_name" class="example-app-name" *ngIf="userName != undefined">Ви увійшли як <span style="color: #ff6a00"><a [routerLink]="['/home/dashboard']" routerLinkActive="router-link-active">{{userName}}</a>    |     </span></div>
        </div>
      </div>
      <div *ngIf="showFiller == true" class="mat-toolbar-menu" style="padding-left: 1px; position: relative;">
        <button mat-button (click)="logout()" class="orange" style="height: 50%; width: 80px; font-family: 'Comfortaa', cursive; box-shadow: none; padding: 0px 3px 0px 3px">Вихід <i class="material-icons">keyboard_tab</i></button>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav [opened]="true" style="top: 6%!important; position: absolute;" #snav>
      <mat-nav-list>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="index">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%;float: right; text-align: right;">Головна</div>
              <i class="material-icons blue" style="float: right">home</i>
            </div>

          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="login">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Вхід</div>
              <i class="material-icons orange" style="float: right">account_circle</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="registration">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Реєстрація</div>
              <i class="material-icons green" style="float: right">create</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="about">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Про Авторів</div>
              <i class="material-icons red" style="float: right">group</i>
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>