<div style="position:relative; top: 20%">
  <!-- <div class="logo">
    <img src="../../assets/images/logo.png">
  </div> -->
  <mat-card id="card-content">
    <div style="height: 420px;left: 24px;margin: auto;width: 98%;padding-top: 10%;position: relative;">
      <div class="col-md-4" style="margin: auto;">
        <mat-card class="example-card" style="box-shadow: 0 7px 28px rgba(245, 89, 61, 0.41)">
          <mat-card-header>
            <mat-card-title>
              <p style="font-size: 20pt; font-family: 'Comfortaa', cursive; text-align: center; color: #f5593d">Вам
                пропонується</p>
            </mat-card-title>
            <mat-card-subtitle>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="font-family: 'Comfortaa', cursive;">
              Набір усіх необхідних засобів для управління вашим ОСББ, та взаємодії з адміністрацією міста.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-4" style="margin: auto;">
        <mat-card class="example-card" style="box-shadow: 0 7px 28px rgba(122, 194, 154, 0.41)">
          <mat-card-header>
            <mat-card-title>
              <p style="font-size: 20pt; font-family: 'Comfortaa', cursive; text-align: center; color:  #7AC29A;">Наші
                переваги</p>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="font-family: 'Comfortaa', cursive;">
              <span>
                - легкість управління;
              </span>
              <span>
                - можливість додавання декількох квартир;
              </span>
              <span>
                - можливість порівняти свої витрати з середнім значенням витрат інших користувачів;
              </span>
              <span>
                - створення власних ідей для нововведень;
              </span>
              <span>
                - можливість купувати квитки на усіляку події у м. Вінниця;
              </span>
              <span>
                - обговорювати питання у форумі;
              </span>
              <span>
                - дізнаватись про останнні новини;
              </span>
              <span>
                - сплачування комунальних та додаткових рахунків.
              </span>
              <span>
                - та інше.
              </span>
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="example-card" style="margin: auto; box-shadow: 0 7px 28px rgba(0, 206, 255, 0.41)">
          <mat-card-header>
            <mat-card-title>
              <p style="font-size: 20pt; font-family: 'Comfortaa', cursive; text-align: center; color: #00ceff">Про
                розробників</p>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p style="font-family: 'Comfortaa', cursive;">
              Інформаційна система "Картка Вінничанина" розроблена студентом групи 3АКІТ-18М Плисаком Владиславом.
              "Підсистема аналізу даних та обліку даних" розроблена студентом групи 3АКІТ-18М Кисельовим Владиславом.
              Розробка концепції системи виконана студентом групи 3АКІТ-18М Сембратом Дем'яном.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent" routerLink="about">Детальніше &raquo;</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>



<!--<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h4 class="example-app-name" style="margin-left: 100px;">MyOSBB</h4>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div>
          <a class="sidebar-a" mat-list-item routerLink=".">
            <div style="float: left; text-align: right;">Головна</div>
            <div class="menu-icon">
              <i class="material-icons">home</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink=".">
            <div style="float: left">Вхід</div>
            <div class="menu-icon">
              <i class="material-icons">account_circle</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink=".">
            <div style="float: left">Реєстрація</div>
            <div class="menu-icon">
              <i class="material-icons">create</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink=".">
            <div style="float: left">Про Авторів</div>
            <div class="menu-icon">
              <i class="material-icons">group</i>
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>-->