html {
  font-family: 'Comfortaa', cursive;
}

@media screen and (max-width: 1282px) {
  .col-md-4 {
    width: 100%;
    padding-bottom: 15px;
  }

  .col-md-4 > .mat-card {
    width: 100%
  }

  .col-md-4 > .example-card {
    width: calc(100% - 48px)!important;
  }
}

@media screen and (min-width: 1282px) {
  .col-md-4 {
    width: 32%;
  }

  .col-md-4 > .mat-card {
    width: 100%
  }

  .col-md-4 > .example-card {
    width: calc(100% - 48px) !important;
  }
}

#card-content {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255,255,255,.5);
}

p span 
{
    display: block;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


/*menu*/
.example-toolbar {
  background-color: #3f51b500;
}

.example-toolbar > * {
  display: block;
  margin: auto 0 auto 0;
}

.mat-icon-button {
  color: black;
  font-family: 'Comfortaa', cursive;
}

.example-app-name {
  color: black;
  font-family: 'Comfortaa', cursive;
  margin-left: 100px;
}


/*////////////////////////////////////////////////////////*/


/*side-nav*/
.mat-drawer-container {
  background-color: #3f51b500;
  
}

.mat-drawer {
  font-family: 'Comfortaa', cursive;
  border-radius: 0px 10px 10px 0px;
  height: 50vh;
  min-width: 260px;
  min-height: 700px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.material-icons {
  font-family: 'Comfortaa', cursive;
}

.menu-icon {
  float: right;
  position: absolute;
  right: 7%;
}
/*////////////////////////////////////////////////////////*/


/*content*/

.content {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 200px;
  width: 65%;
  height: 100vh;
}

#card-content {
  height: calc(100vh - 20vh - 64px);
  min-height: max-content;
  border-radius: 10px;
}

.logo {
  background-color: white;
  top: -80px;
  border-radius: 10px;
  padding: 3px;
  position: absolute;
  /* min-width: 130px; */
  /* min-height: 122px; */
  width: 130px;
  /* height: 127px; */
  display: block;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 4;
  left: calc(50% - 65px);
}

.logo > img {
  display: block;
  margin: auto;
  width: 90%;
  height: 90%;
}

.row {
  position: relative;
  top: 20%;
}

.col-md-4 {
  min-width: 250px;
  float: left;
  margin: 0 auto;
  display: block;
}

.example-card {
  /* //max-width: 400px; */
  border-radius: 10px;
}

.mat-card-title {
  display: block;
  margin: auto;
}

.mat-card-header-text {
  width: 100%;
  margin: 0 0;
}
/*////////////////////////////////////////////////////////*/
