.mdl-data-table {
    width: 100%;
}

.mdl-data-table__cell {
    text-align: left;
}

.newsTr {}

.ng-star-inserted {}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

div {
    box-sizing: border-box;
}

body {
    background: #111;
}

.news {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.news>div {
    display: inline-block;
}

.mdl-card {
    margin-right: 10px;
    margin-top: 10px;
    height: max-content;
    border-radius: 10px;
    width: 300px;
  }
  
  .mdl-card__title {
    background-size: cover;
    height: 250px!important;
    opacity: 0.4;
  }

  .movietitle {
    background-size: cover;
    height: 428px!important;
    opacity: 1.0;
  }

  #box {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
    clear: both;
    border-spacing: 5px;
}
.item {
    display: table-cell;
    min-width: 240px;
    width: 240px;
    font-size: 140px;
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    white-space: normal;
    line-height: 1.6;
    vertical-align: top;
    text-align: center;
}

.iTeuOy {
    width: max-content;
    display: flex;
    margin-right: 10px;
    background-color: rgb(255,64,129);
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-shadow: rgba(4, 43, 57, 0.39) 0px 0px 9px;
    padding: 10px 9px;
    padding-top: 10px;
    padding-right: 9px;
    padding-bottom: 10px;
    padding-left: 9px;
    border-radius: 8px;
}

.cMtCFa {
    width: max-content;
    display: flex;
    background-color: rgb(36, 213, 226);
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-shadow: rgba(4, 43, 57, 0.39) 0px 0px 9px;
    padding: 10px 9px;
    padding-top: 10px;
    padding-right: 9px;
    padding-bottom: 10px;
    padding-left: 9px;
    border-radius: 8px;
}