<div class="mdl-cell mdl-cell--12-col">
  <mat-card style="width: 95%;">
    <mat-card-title style="font-family: 'Comfortaa', cursive;">
      Новини в Україні <i class="material-icons purpule"
        style="margin: auto; position: relative; top: 5px;">library_books</i>
    </mat-card-title>
    <mat-card-content>
      <table id="shopingTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" *ngIf="articlesResult !== undefined">
        <tbody *ngFor="let article of articlesResult.articles;">
          <tr>
            <td class="mdl-data-table__cell">{{article.title}}</td>
            <td class="mdl-data-table__cell">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [href]="article.url">
                Детальніше
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<div class="mdl-cell mdl-cell--12-col">
  <mat-card style="width: 95%; text-align: center;">
    <mat-card-title style="font-family: 'Comfortaa', cursive;">
      Зараз у прокаті в SmartCinema <i class="fa fa-ticket red" aria-hidden="true"
        style="margin: auto; position: relative; font-size: 17pt;">
      </i>
    </mat-card-title>
    <mat-paginator [length]="moviesLength" [pageSize]="moviesPageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = paginateMovies($event)">
    </mat-paginator>
    <mat-card-content style="display: flex; text-align: center; align-items: center; justify-content: center;" *ngIf="this.smartCinemaGetMoviesResponse">
      <div class="demo-card-square mdl-card mdl-shadow--2dp"
        *ngFor="let rentMovies of this.smartCinemaGetMoviesResponse.rent;" style="margin-top: 10px;">
        <div class="mdl-card__title mdl-card--expand movietitle"
          [style.backgroundImage]="'url('+ rentMovies.poster +')'">
        </div>
        <div class="mdl-card__supporting-text" style="display: flex;">
          <div class="iTeuOy">{{rentMovies.format}}</div> <div class="cMtCFa">{{ rentMovies.age}} +</div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            [href]="rentMovies.seo_inline.url">
            Детальніше
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>