<h1 mat-dialog-title>Додати нову ідею для обговорення</h1>
<div mat-dialog-content style="height: max-content; font-family: 'Comfortaa', cursive; padding-bottom: 20px;">
    <p>Заповніть форму:</p>
    <form class="example-form" (ngSubmit)='createNewIdea(title, description)'>
        <p>Обріть ваше ОСББ:</p>
        <mat-form-field>
            <mat-select [(value)]="ideaAcab">
                <mat-option *ngFor="let acab of acabs" value="{{acab.value}}">
                    {{acab.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
            <input type="tel" [(ngModel)]="title" name="title" matInput placeholder="Назва ідеї для ОСББ"
                autocomplete="off">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
            <textarea [(ngModel)]="description" name="description" matInput placeholder="Опис" style="height: 300px;"
                autocomplete="off"></textarea>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div class="form-row" style="text-align: center;">
            <div style="display: -webkit-inline-box; margin: auto; width: min-content;">
                <button type="submit" mat-raised-button class="blue"
                    style="font-family: 'Comfortaa', cursive;">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions style="text-align: center;">
    <button mat-button class="red" style="font-family: 'Comfortaa', cursive; margin: auto;"
        (click)="onNoClick()">Відміна</button>
</div>