<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Топ популярних петиції
        <i class="material-icons red" style="margin: auto; position: relative; top: 3px;">
          fireplace
        </i>
      </mat-card-title>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Голосування ваших ОСББ
        <i class="material-icons blue" style="margin: auto; position: relative; top: 3px;">
          house
        </i>
      </mat-card-title>
      <mat-card-content>
        <mat-paginator #paginator [length]="acabLength" [pageSize]="acabPageSize" [pageSizeOptions]="acabSizeOptions"
          (page)="pageEvent = paginateAcabPetition($event)" *ngIf="!noApartments">
        </mat-paginator>
        <table id="acabPetitonTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;" *ngIf="!noApartments">
          <thead>
            <tr>
              <th>#</th>
              <th>Назва ОСББ</th>
              <th>Тема ідеї</th>
              <th>Автор петиці</th>
              <th>Дата</th>
            </tr>
          </thead>
          <tbody *ngFor="let idea of ideaDto.ideaDtoList; index as i" style="text-align: center">
            <tr routerLink="idea/{{idea.id}}" style="cursor:pointer;">
              <td>{{ i + 1 }}</td>
              <td>{{ idea.acabName }}</td>
              <td>{{ idea.ideaName }}</td>
              <td>
                {{ idea.authorLastName }} {{ idea.authorFirstName }}
              </td>
              <td>{{ idea.date | date: "medium" }}</td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="noApartments" style="font-family: 'Comfortaa', cursive; color: #fb5f5f;">Ви не підключені до вашого ОСББ!</p>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button *ngIf="!noApartments" type="submit" mat-raised-button class="blue" (click)="openIdeaDialog()">
          Створити петицію для ОСББ
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Петиції міста Вінниці
        <i class="material-icons pink" style="margin: auto; position: relative; top: 3px;">
          location_city
        </i>
      </mat-card-title>
      <mat-card-content>
        <mat-paginator #paginator [length]="vinnytsiaLength" [pageSize]="vinnytsiaPageSize"
          [pageSizeOptions]="vinnytsiaSizeOptions" (page)="pageEvent = paginateVinnytsia($event)">
        </mat-paginator>
        <table id="vinnytsiaPetitonTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Тема петиці</th>
              <th>Автор петиці</th>
              <th>Дата створення</th>
            </tr>
          </thead>
          <tbody *ngFor="let petition of petitionDto.petitionDtoList; index as i" style="text-align: center">
            <tr routerLink="petition/{{petition.id}}" style="cursor:pointer;">
              <td>{{ i + 1 }}</td>
              <td>{{ petition.petitionName }}</td>
              <td>
                {{ petition.authorLastName }} {{ petition.authorFirstName }}
              </td>
              <td>{{ petition.date | date: "medium" }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button type="submit" mat-raised-button class="blue" (click)="openPetitionDialog()">
          Створити петицію
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!-- <div>
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div> -->