<h1 mat-dialog-title>Підключитись до ОСББ</h1>
<div mat-dialog-content style="height: max-content; font-family: 'Comfortaa', cursive;max-height: 72vh;">
    <p>Заповніть форму:</p>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" [optional]="isOptional">
            <form [formGroup]="firstFormGroup">

                <ng-template matStepLabel>Оберіть ОСББ</ng-template>
                <mat-form-field style="display: block;">
                    <input matInput placeholder="Пошук" (input)="onSearchChange($event.target.value)">
                </mat-form-field>
                <mat-paginator #paginator [length]="acabLength" [pageSize]="forumPageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = paginateAcabs($event)">
                </mat-paginator>
                <table id="shopingTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                    *ngIf="acabs !== undefined" style="margin:auto;">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Назва</th>
                            <th>Адреса</th>
                            <th>Дата створення</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let acab of acabs.result.records;">
                        <tr>
                            <td class="mdl-data-table__cell">{{acab._id}}</td>
                            <td class="mdl-data-table__cell">{{acab.nameACMB}}</td>
                            <td class="mdl-data-table__cell">{{acab.legalAddress}}</td>
                            <td class="mdl-data-table__cell">{{acab.RegistrationDate}}</td>
                            <td class="mdl-data-table__cell">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                    (click)="selectAcab(acab._id, acab.nameACMB, acab.legalAddress, acab.RegistrationDate)">
                                    Додати
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin:auto; display: block;padding-top: 11px;">
                    <p>Навза обраного ОСББ: {{selectedAcab.acabName}}</p>
                </div>
                <div>
                    <button mat-raised-button class="blue" mat-button matStepperNext [disabled]="disableAcabNext"
                        style="margin:auto; display: block;">Далі</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [optional]="isOptional" *ngIf="!isAcabExists">
            <form [formGroup]="secondFormGroup" (ngSubmit)='addAdditionalInformation(addAcabDto.countOfApartments)'>
                <ng-template matStepLabel>Додаткова інформація</ng-template>
                <!-- <mat-form-field style="display: block;">
                    <input matInput disabled matInput placeholder="Адреса" [(ngModel)]="addAcabDto.street"
                        formControlName="acabAddress" required>
                </mat-form-field>
                <mat-form-field style="display: block;">
                    <input matInput disabled matInput placeholder="Будинок" [(ngModel)]="addAcabDto.building"
                        formControlName="acabBulding" required>
                </mat-form-field>
                <mat-form-field style="display: block;">
                    <input matInput disabled matInput placeholder="Дата реєстрації"
                        [(ngModel)]="addAcabDto.registrationDate" formControlName="acabRegistrationDate" required>
                </mat-form-field> -->
                <div style="font-family: 'Comfortaa', cursive;" *ngIf="addAcabDto !== undefined">
                    <p>Номер ОСББ: {{addAcabDto.id}}</p>
                    <p>Навза ОСББ: {{addAcabDto.acabName}}</p>
                    <p>Адреса ОСББ: {{addAcabDto.street}}, будинок {{addAcabDto.building}}</p>
                    <p>Дата реєстрації ОСББ: {{addAcabDto.registrationDate}}</p>
                    <p>У нас відсутня інформація, про кількість квартир у
                        будинку, введіть кількість:</p>
                    <mat-form-field style="display: inline-block;">
                        <input #acabApartmentCount matInput placeholder="Кількість квартир"
                            [(ngModel)]="addAcabDto.countOfApartments" formControlName="acabApartmentsCount" required>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Назад</button>
                    <button mat-button matStepperNext type="submit">Далі</button>
                </div>
            </form>
        </mat-step>
        <mat-step [formGroup]="thirdFormGroup" [optional]="isOptional">
            <div style="margin:auto; display: block;padding-top: 11px;font-family: 'Comfortaa', cursive;" *ngIf="addAcabDto !== undefined">
                <p>Номер ОСББ: {{addAcabDto.id}}</p>
                <p>Навза ОСББ: {{addAcabDto.acabName}}</p>
                <p>Адреса ОСББ: {{addAcabDto.street}}, будинок {{addAcabDto.building}}</p>
                <p>Дата реєстрації ОСББ: {{addAcabDto.registrationDate}}</p>
            </div>
            <form [formGroup]="thirdFormGroup" (ngSubmit)='saveAcabApartment()'>
                <ng-template matStepLabel>Оберіть свою квартиру</ng-template>
                <mat-form-field>
                    <mat-select [(value)]="apartmentUser">
                        <mat-option *ngFor="let apartment of apartments" value="{{apartment.viewValue}}">
                            {{apartment.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="text-align: center;">
                    <button mat-raised-button class="yellow" mat-button matStepperPrevious
                        style="margin:auto; display: inline-block; width: 120px;margin-right: 44px;">Назад</button>
                    <button mat-raised-button class="red" mat-button (click)="stepper.reset()"
                        style="margin:auto; display: inline-block; width: 120px; margin-right: 44px;">Скинути</button>
                    <button mat-raised-button class="green" type="submit" mat-button
                        style="margin:auto; width: 120px; display: inline-block;">Підвердити</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div mat-dialog-actions style="text-align: center;">
    <button mat-raised-button class="red" style="font-family: 'Comfortaa', cursive; margin: auto;"
        (click)="onNoClick()">Відміна</button>
</div>