<h1 mat-dialog-title style="font-family: 'Comfortaa', cursive;">Додати платіж</h1>
<div mat-dialog-content style="height: 236px; font-family: 'Comfortaa', cursive; padding-bottom: 20px;">
    <p>Заповніть форму:</p>
    <form class="example-form" (ngSubmit)="addAdditionalBill()">
        <div style="width: max-content; display: inline-block;  padding-right: 22px;">
            <p style="font-family: 'Comfortaa', cursive;">Оберіть тип установи/підприємства:</p>
            <mat-form-field>
                <mat-label style="font-family: 'Comfortaa', cursive;">Тип установи</mat-label>
                <mat-select name="entType" [(value)]="enterpriseTypeId"
                    (selectionChange)="enterpriseTypeDropdownChange()">
                    <mat-option *ngFor="let enterprise of enterprisesTypesDropdownDataArr" value="{{enterprise.value}}">
                        {{enterprise.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="width: max-content; display: inline-block; padding-right: 22px;">
            <p style="font-family: 'Comfortaa', cursive;">Оберіть установу/підприємство:</p>
            <mat-form-field class="enterpriseDropdown">
                <mat-label style="font-family: 'Comfortaa', cursive;">Назва установи</mat-label>
                <mat-select [(value)]="enterpriseId" [disabled]="disableEnterpriseDropdown"
                    (selectionChange)="enterpriseDropdownChange()">
                    <mat-option name="entName" *ngFor="let enterprise of enterprisesDropdownDataArr"
                        value="{{enterprise.value}}">
                        {{enterprise.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="width: max-content; display: inline-block;">
            <p style="font-family: 'Comfortaa', cursive;">Оберіть установу/підприємство:</p>
            <mat-form-field class="enterpriseServiceDropdown">
                <mat-label style="font-family: 'Comfortaa', cursive;">Назва послуги</mat-label>
                <mat-select [(value)]="enterpriseServiceId" [disabled]="disableEnterpriseServiceDropdown"
                    (selectionChange)="enterpriseServiceDropdownChange()">
                    <mat-option name="entServicesName" *ngFor="let enterpriseService of enterpriseServiceDropdownArr"
                        value="{{enterpriseService.value}}">
                        {{enterpriseService.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row" style="text-align: center;position: relative; top: 60px;">
            <div style="display: -webkit-inline-box; margin: auto; width: min-content;">
                <button type="submit" mat-raised-button class="blue" style="font-family: 'Comfortaa', cursive;"
                    [disabled]="disableSybmitButton">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions style="text-align: center;">
    <button mat-button class="red" style="font-family: 'Comfortaa', cursive; margin: auto;"
        (click)="onNoClick()">Відміна</button>
</div>