<h1 mat-dialog-title style="font-family: 'Comfortaa', cursive;">Видалення платежу</h1>
<div mat-dialog-content style="height: 236px; font-family: 'Comfortaa', cursive; padding-bottom: 20px;">
    <p *ngIf="mainBillDto">Ви дійсно хочете видалити '{{mainBillDto.enterprise}}':</p>
    <p *ngIf="additionalBillItem">Ви дійсно хочете видалити '{{additionalBillItem.enterprise}}' {{additionalBillItem.serviceName}}:</p>
<div mat-dialog-actions style="text-align: center;">
    <button type="submit" mat-raised-button class="red" style="font-family: 'Comfortaa', cursive;margin: auto;" (click)="deletePayment()">Підтвердити</button>
    <button mat-raised-button class="blue" style="font-family: 'Comfortaa', cursive; margin: auto;"
        (click)="onNoClick()">Відміна</button>
</div>