<div class="noApartments" *ngIf="noApartments">
  <div style="width: max-content; margin: auto; vertical-align: middle; display: block;
      position: relative;top: 35%;">
    <p style="font-family: 'Comfortaa', cursive;font-size: 20pt;">У вас не має підключених ОСББ</p>
  </div>
  <div style="position: relative; top: 40%; margin: auto; width: max-content;">
    <button mat-raised-button class="green" (click)="openAddAcabForm()"
      style="font-family: 'Comfortaa', cursive;">Додати ОСББ</button>
  </div>
</div>

<div class="mdl-grid" *ngIf="!noApartments">
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card style="width: max-content; margin-bottom: 25px;">
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Підключені ОСББ <i class="material-icons green"
          style="margin: auto; position: relative; top: 2px;">apartment</i>
      </mat-card-title>
      <mat-card-content>
        <table id="shopingTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
          style="display: block;width: max-content;">
          <thead>
            <tr>
              <th>#</th>
              <th class="mdl-data-table__cell--non-numeric">Вулиця</th>
              <th>Будинок</th>
              <th>ОСББ</th>
              <th>Номер квартири</th>
              <th>
                Оплатити за Газ
                <mat-icon matSuffix style="color: #fb5f5f;">
                  <i class="fa fa-fire" aria-hidden="true"></i>
                </mat-icon>
              </th>
              <th>Оплатити за Електроенегію
                <mat-icon matSuffix style="color: #d6d62f;">
                  <i class="fa fa-bolt" aria-hidden="true"></i>
                </mat-icon>
              </th>
              <th>Оплатити за Водопостачання
                <mat-icon matSuffix style="color: #4eb1e2; top: 5px; position: relative;">
                  <i class="fa fa-tint" aria-hidden="true"></i>
                </mat-icon>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let apartment of userApartments; index as i" style="text-align: center">
            <tr>
              <td><div>{{i + 1}}</div></td>
              <td><div>{{apartment.street}}</div></td>
              <td><div>{{apartment.building}}</div></td>
              <td><div>{{apartment.acabName}}</div></td>
              <td><div>{{apartment.userApartmentNumber}}</div></td>
              
              <td><button mat-raised-button class="red" (click)="openPayForm(usersMainBills[1], apartment)">Оплатити</button></td>
              <td><button mat-raised-button class="yellow" (click)="openPayForm(usersMainBills[0], apartment)">Оплатити</button></td>
              <td><button mat-raised-button class="blue" (click)="openPayForm(usersMainBills[2], apartment)">Оплатити</button></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button type="submit" mat-raised-button class="blue" (click)="openAddAcabForm()">Додати квару</button>
      </mat-card-actions>
    </mat-card>
    <mat-card style="width: max-content; margin-bottom: 25px;">
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Додаткові рахунки<i class="fa fa-university orange" aria-hidden="true"
          style="margin: auto; position: relative; top: -2px;"></i>
      </mat-card-title>
      <mat-card-content>
        <table id="shopingTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
          style="display: block;width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Надавач послуг</th>
              <th>Послуга</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let additionalBill of additionalBillDto.additionalBillList; index as i" style="text-align: center">
            <tr *ngIf="additionalBillDto">
              <td>{{i + 1}}</td>
              <td>{{additionalBill.enterprise}}</td>
              <td>{{additionalBill.serviceName}}</td>
              <td><button mat-raised-button class="green" (click)="openPayFormAdditional(additionalBill)">Оплатити</button></td>
              <td><button mat-raised-button class="red" (click)="openDeleteFormDialog(additionalBill)">Видалити рахунок</button></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button type="submit" mat-raised-button class="blue" (click)="openAddPaymentForm()">Додати рахунок</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Історія сплат рахунків <i class="fa fa-money green" aria-hidden="true"
          style="margin: auto; position: relative; top: -2px;"></i>
      </mat-card-title>
      <mat-card-content>
        <mat-paginator #paginator [length]="paymentsLength" [pageSize]="paymentsPageSize" [pageSizeOptions]="pagePaymentsSizeOptions"
          (page)="pageEvent = paginatePayments($event)">          
        </mat-paginator>
        <table id="paymentsTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
              <tr>
                <th class="firstColumn">#</th>
                <th>Назва покупки</th>
                <th>Отримувач коштів</th>
                <th>Сума (у грн.)</th>
                <th>Картка</th>
                <th>Дата</th>
              </tr>
            </thead>
            <tbody *ngFor="let payment of userPayments.paymentsList; index as i" >
              <tr>
                <td class="mdl-data-table__cell firstColumn">{{i + 1}}</td>
                <td>{{payment.description}}</td>
                <td>{{payment.recipientName}}</td>
                <td>{{payment.amount}}</td>
                <td>***{{payment.senderCardMask}}</td>
                <td>{{payment.endDate | date:'medium'}}</td>
              </tr>
            </tbody>
          </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>