.noApartments {
    height: 95%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.mat-dialog-container {
    height: 360px;
}

.mat-dialog-content {
    max-height: 72vh;
}

.enterpriseDropdown > .mat-form-field-infix{
    width: 236px;
}