<h1 mat-dialog-title *ngIf="apartmentDto !== undefined" style="font-family: 'Comfortaa', cursive;">{{mainBillDto.billName}}:</h1>
<!-- <h1 mat-dialog-title *ngIf="additionalBillDto !== undefined" style="font-family: 'Comfortaa', cursive;">{{additionalBillDto.enterprise}}:</h1> -->
<div mat-dialog-content style="height: 83%; max-height: max-content; font-family: 'Comfortaa', cursive; padding-bottom: 20px;">
    <p *ngIf="additionalBillItem !== undefined" style="padding-left: 10px;">Отримувач коштів: {{additionalBillItem.enterprise}}</p>
    <div *ngIf="apartmentDto !== undefined" style="padding-left: 10px; padding-top: 10px; background-color: aliceblue; border-radius: 10px;">
        <p >Оплата проводиться: </p>
        <p>{{apartmentDto.street}}</p>
        <p>{{apartmentDto.building}}</p>      
        <p>Квартира №{{apartmentDto.userApartmentNumber}}</p>
    </div>
    <div *ngIf="additionalBillItem !== undefined" style="padding-left: 10px; padding-top: 10px; background-color: aliceblue; border-radius: 10px;">
        <p >Оплата проводиться: </p>
        <p>{{additionalBillItem.serviceName}}</p>
    </div>
    <br/>
    <br/>
    <p>Карта для тестування: 4242 4242 4242 4242</p>
    <br/>
    <p>Заповніть форму:</p>
    <form class="example-form" (ngSubmit)='pay(cardNumber, expYear, expMonth, cvc, sumGrn, sumCop, description)'
        style="padding-left: 10px; padding-top: 10px; background-color: aliceblue; border-radius: 10px;">
        <mat-form-field class="example-full-width" style="display: block;">
            <input type="tel" [(ngModel)]="cardNumber" name="cardNumber" autocomplete="off" matInput
                placeholder="Номер картки">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="padding-right: 20px;">
            <mat-select matNativeControl required [(ngModel)]="expMonth" name="expMonth">
                <mat-option value="">Оберіть місяць</mat-option>
                <mat-option value="1">01</mat-option>
                <mat-option value="2">02</mat-option>
                <mat-option value="3">03</mat-option>
                <mat-option value="4">04</mat-option>
                <mat-option value="5">05</mat-option>
                <mat-option value="6">06</mat-option>
                <mat-option value="7">07</mat-option>
                <mat-option value="8">08</mat-option>
                <mat-option value="9">09</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="11">11</mat-option>
                <mat-option value="12">12</mat-option>
            </mat-select>
            <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="padding-right: 20px;">
            <mat-select matNativeControl required [(ngModel)]="expYear" name="expYear">
                <mat-option value="">Оберіть рік</mat-option>
                <mat-option value="20">2020</mat-option>
                <mat-option value="21">2021</mat-option>
                <mat-option value="22">2022</mat-option>
                <mat-option value="23">2023</mat-option>
                <mat-option value="24">2024</mat-option>
                <mat-option value="25">2025</mat-option>
                <mat-option value="26">2026</mat-option>
                <mat-option value="27">2027</mat-option>
                <mat-option value="28">2028</mat-option>
                <mat-option value="29">2029</mat-option>
                <mat-option value="30">2030</mat-option>
            </mat-select>
            <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="cvc" name="cvc" matInput placeholder="Введіть CV код"
                [type]="hide ? 'text' : 'password'" [(ngModel)]="cvc" name="cvc">
            <mat-icon matSuffix>credit_card</mat-icon>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width" style="padding-right: 10px;">
            <input [(ngModel)]="sumGrn" name="sumGrn" matInput placeholder="Введіть гривні"
                [type]="text" [(ngModel)]="amount" name="amount" numeric numericType="number">
            <mat-icon matSuffix>money</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <input [(ngModel)]="sumCop" name="sumCop" matInput placeholder="Введіть копійки"
                    [type]="text" [(ngModel)]="amount" name="amount" numeric numericType="number">
                <mat-icon matSuffix>money</mat-icon>
            </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width" style="display: block;">
            <textarea [(ngModel)]="description" name="description" matInput placeholder="Опис"></textarea>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div class="form-row" style="text-align: center;position: relative; top: 60px;">
            <div style="display: -webkit-inline-box; margin: auto; width: min-content;">
                <button type="submit" mat-raised-button class="blue"
                    style="font-family: 'Comfortaa', cursive;">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions style="text-align: center;">
    <button mat-button class="red" style="font-family: 'Comfortaa', cursive; margin: auto;"
        (click)="onNoClick()">Відміна</button>
</div>