<mat-tab-group mat-align-tabs="center" animationDuration="1500ms" (selectedTabChange)="getStatistic($event)"
  style="text-align: center; height: 100%;">
  <mat-tab label="Фінанси">
    <div class="mdl-cell mdl-cell--12-col">
      <mat-card style="width: 95%;">
        <mat-card-title style="font-family: 'Comfortaa', cursive;">
          Середні витрати на комунальні послуги
          <mat-icon matSuffix style="color: #fb5f5f; margin: auto; position: relative; top: 5px;">
            <i class="fa fa-fire" aria-hidden="true"></i>
          </mat-icon>
          <mat-icon matSuffix style="color: #d6d62f; margin: auto; position: relative; top: 5px;">
            <i class="fa fa-bolt" aria-hidden="true"></i>
          </mat-icon>
          <mat-icon matSuffix style="color: #4eb1e2; margin: auto; position: relative; top: 5px;">
            <i class="fa fa-tint" aria-hidden="true"></i>
          </mat-icon>
        </mat-card-title>
        <mat-card-content>
          <div class="chart">
            <canvas id="canvas" width="400" height="400">{{ chart }}</canvas>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <p style="color:#fb5f5f; font-family: 'Comfortaa', cursive;">*(середня оплата користувачів системи за
            комунальні послуги, грн)</p>
          <br />
          <p style="font-family: 'Comfortaa', cursive;">
            Дані взято з інформаційної системи "Картка Вінничанина"
          </p>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <mat-card style="width: 95%;">
        <mat-card-title style="font-family: 'Comfortaa', cursive;">
          Заробітні плати на професії <i class="material-icons purpule"
            style="margin: auto; position: relative; top: 5px;">work</i>
        </mat-card-title>
        <mat-card-content>
          <div class="chart">
            <canvas id="salaryCanvas" width="400" height="400">{{ salaryChart }}</canvas>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <p style="color:#fb5f5f; font-family: 'Comfortaa', cursive;">*(у розрахунку на одного штатного працівника,
            грн)</p>
          <br />
          <p style="font-family: 'Comfortaa', cursive;">
            Дані взято з: <a
              href="http://www.vn.ukrstat.gov.ua/index.php/statistical-information/4874-2010-11-24-12-33-39.html">
              Головне управління статистики у Вінницькій області. Середня номінальна заробітна плата за видами
              економічної діяльності
              у 2017 році</a>
          </p>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Населення">
    <div class="mdl-cell mdl-cell--12-col">
      <mat-card style="width: 95%;">
        <mat-card-title style="font-family: 'Comfortaa', cursive;">
          Статистика по населенню <i class="material-icons pink" style="margin: auto; position: relative; top: 5px;">
            pregnant_woman
          </i>
          <i class="material-icons blue" style="margin: auto; position: relative; top: 5px;">
            directions_run
          </i>
        </mat-card-title>
        <mat-card-content>

          <div class="chart">
            <canvas id="barCanvas" width="400" height="400">{{ barChart }}</canvas>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <p style="font-family: 'Comfortaa', cursive;">Чисельність населення (за оцінкою) на 1 жовтня 2019 року
            та середня чисельність у січні–вересні 2019 року. Данні взяті з:
            <a href="http://www.vn.ukrstat.gov.ua/index.php/statistical-information/6000-2010-11-26-08-09-32.html">
              Головне управління статистики у Вінницькій області. Чисельність населення (за оцінкою) на 1 жовтня 2019
              року</a>
          </p>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Продукти харчування">
    <div class="mdl-cell mdl-cell--12-col">
      <mat-card style="width: 95%;">
        <mat-card-title style="font-family: 'Comfortaa', cursive;">
          Споживання продуктів харчування в домогосподарствах (1999-2016рр.) <i class="material-icons orange"
            style="margin: auto; position: relative; top: 5px;">fastfood</i>
        </mat-card-title>
        <mat-card-content>
          <div class="chart">
            <canvas id="foodCanvas" width="400" height="400">{{ foodChart }}</canvas>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <p style="color:#fb5f5f; font-family: 'Comfortaa', cursive;">*Споживання продуктів харчування в
            домогосподарствах
            (в перерахунку в первинний продукт) в середньому за місяць у розрахунку на одну особу. Яйця в шт., інші продукти в кг</p>
          <br />
          <p style="font-family: 'Comfortaa', cursive;">
            Дані взято з: <a href="http://www.vn.ukrstat.gov.ua/index.php/statistical-information/4825--1999-2009.html">
              Головне управління статистики у Вінницькій області. Споживання продуктів харчування в
              домогосподарствах</a>
          </p>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>