<div style="position:relative; top: 20%; width: max-content; margin:auto">
  <!-- <div class="logo">
    <img src="../../assets/images/logo.png">
  </div> -->
  <mat-card id="card-content">
    <div style="height: max-content; padding-top: 10%;  position: relative;">
      <form class="example-form" autocomplete="off"
        (ngSubmit)='register(userLogin, password, password2, firstName, lastName, middleName, email, phone)'>
        <mat-form-field  class="example-full-width">
          <input type="tel" name="userLogin" matInput placeholder="Логін" [formControl]="userLogin"
            [ngClass]="{ 'is-invalid': submitted && f.userLogin.errors }">
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="userLogin.invalid">{{getLoginErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input matInput placeholder="Введіть свій пароль" name="password" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input matInput placeholder="Повторіть свій пароль" name="password2" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input type="tel" matInput placeholder="Ім'я" name="firstName" [formControl]="firstName">
          <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input type="tel" matInput placeholder="Прізвище" name="lastName" [formControl]="lastName">
          <mat-icon matSuffix>assignment_ind</mat-icon>
          <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input type="tel" matInput placeholder="По батькові" name="middleName" [formControl]="middleName">
          <mat-icon matSuffix>assignment_ind</mat-icon>
          <mat-error *ngIf="middleName.invalid">{{getMiddleNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input type="tel" matInput placeholder="E-mail" name="email" [formControl]="email">
          <mat-icon matSuffix>contact_mail</mat-icon>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <input type="tel" matInput placeholder="Телефон" name="phone" [formControl]="phone">
          <mat-icon matSuffix>contact_phone</mat-icon>
          <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="form-row">
          <div style="display: -webkit-inline-box; margin: auto; width: min-content; padding-right: 33%;">
            <button type="submit" mat-raised-button class="blue">Підтвердити</button>
          </div>

          <div style="display: -webkit-inline-box; margin: auto; width: min-content;">
            <button type="button" mat-raised-button class="red">Відміна</button>
          </div>
        </div>
        <div class="form-row">
          <div style="padding-top: 27px;">
            <button routerLink="/login" style="display:block; margin: auto;" type="button" mat-raised-button
              class="green">Маєш акаунт?</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>