<div class="mdl-cell mdl-cell--12-col">
  <mat-card style="width: 95%; text-align: center;">
    <mat-card-title style="font-family: 'Comfortaa', cursive;">
      Зараз у прокаті в SmartCinema <i class="fa fa-ticket red" aria-hidden="true"
        style="margin: auto; position: relative; font-size: 17pt;">
      </i>
    </mat-card-title>
    <mat-paginator #paginatorRent [length]="moviesRentLength" [pageSize]="moviesRentPageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = paginateMoviesRent($event)">
    </mat-paginator>
    <mat-card-content style="display: flex; text-align: center; align-items: center; justify-content: center;">
      <div class="demo-card-square mdl-card mdl-shadow--2dp"
        *ngFor="let rentMovies of this.smartCinemaGetMoviesRentResponse" style="margin-top: 10px;">
        <div class="mdl-card__title mdl-card--expand movietitle"
          [style.backgroundImage]="'url('+ rentMovies.poster +')'">
        </div>
        <div class="mdl-card__supporting-text" style="display: flex;">
          <div class="iTeuOy">{{rentMovies.format}}</div> <div class="cMtCFa">{{ rentMovies.age}} +</div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            [href]="rentMovies.seo_inline.url">
            Детальніше
          </a>
        </div>
      </div>
    </mat-card-content>
    <mat-card-title style="padding-top: 100px;font-family: 'Comfortaa', cursive;">
      Скоро у прокаті в SmartCinema <i class="fa fa-ticket red" aria-hidden="true"
        style="margin: auto; position: relative; font-size: 17pt;">
      </i>
    </mat-card-title>
    <mat-paginator #paginatorSoon [length]="moviesSoonLength" [pageSize]="moviesSoonPageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = paginateMoviesSoon($event)">
    </mat-paginator>
    <mat-card-content style="display: flex; text-align: center; align-items: center; justify-content: center;">
      <div class="demo-card-square mdl-card mdl-shadow--2dp"
        *ngFor="let soonMovies of this.smartCinemaGetMoviesSoonResponse;" style="margin-top: 10px;">
        <div class="mdl-card__title mdl-card--expand movietitle"
          [style.backgroundImage]="'url('+ soonMovies.poster +')'">
          <h2 class="mdl-card__title-text" style="color: #fff;">{{soonMovies.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text" style="display: flex;">
          <div class="iTeuOy">{{soonMovies.format}}</div> <div class="cMtCFa">{{ soonMovies.age}} +</div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            [href]="soonMovies.seo_inline.url">
            Детальніше
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
