<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" style="z-index: 3;position: absolute;">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="titleBackground">
      <h4 class="example-app-name">Картка вінничанина</h4>
    </div>
    <div class="left-menu" style="height: 100%;">
      <div *ngIf="showFiller == true" class="mat-toolbar-menu" style="height: 100%;">
        <div style="width: max-content; display:  -webkit-inline-box;top: 17px;position:  relative;">
          <div id="user_name" class="example-app-name" *ngIf="userName != undefined">Ви увійшли як <span style="color: #ff6a00">{{userName}}</span></div>
        </div>
      </div>
      <div *ngIf="showFiller == true" class="mat-toolbar-menu" style="height: 100%; padding-left: 17px;">
        <button mat-raised-button (click)="logout()" class="orange">Вихід <i class="material-icons">keyboard_tab</i></button>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav [opened]="true" style="top: 6%!important; position: absolute;" #snav>
      <mat-nav-list>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="index">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%;float: right; text-align: right;">Головна</div>
              <i class="material-icons blue" style="float: right">home</i>
            </div>

          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="login">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Вхід</div>
              <i class="material-icons orange" style="float: right">account_circle</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="registration">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Реєстрація</div>
              <i class="material-icons green" style="float: right">create</i>
            </div>
          </a>
        </div>
        <div>
          <a class="sidebar-a" mat-list-item routerLink="">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Про Авторів</div>
              <i class="material-icons red" style="float: right">group</i>
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet>
          <div>
            <h4 class="example-app-name" style="margin-left: 100px;" *ngIf="userName != undefined">Ви увійшли як {{userName}}</h4>
          </div>
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<mat-toolbar color="primary" class="example-toolbar" style="z-index: 3;position: absolute;">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="titleBackground" style="background-color: #f2f7fd; border-radius: 10px;">
    <h4 class="example-app-name">Картка вінничанина</h4>
  </div>
  <div class="left-menu"
    style="margin-top: 16px;font-size: 15px;top: 5px;background-color: #f2f7fd;border-radius: 10px;padding: 0px 20px 0px 20px;">
    <div *ngIf="showFiller == true" class="mat-toolbar-menu" style="margin-left: 0%;">
      <div style="width: max-content; display:  -webkit-inline-box; position:  relative;">
        <div id="user_name" class="example-app-name" *ngIf="userName != undefined">Ви увійшли як
          <span style="color: #ff6a00"><a routerLink="dashboard" style="cursor: pointer">{{userName}}</a> | </span>
        </div>
      </div>
    </div>
    <div *ngIf="showFiller == true" class="mat-toolbar-menu" style="padding-left: 1px; position: relative;">
      <button mat-button (click)="logout()" class="orange"
        style="height: 50%; width: 80px; font-family: 'Comfortaa', cursive; box-shadow: none; padding: 0px 3px 0px 3px">Вихід
        <i class="material-icons">keyboard_tab</i></button>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #snav [mode]="sideMode" [opened]="true">
    <mat-nav-list>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="dashboard">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%;float: right; text-align: right;">Головна</div>
            <i class="material-icons blue" style="float: right">table_chart</i>
          </div>
        </a>
      </div>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="userpage">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Профіль</div>
            <i class="material-icons orange" style="float: right">account_circle</i>
          </div>
        </a>
      </div>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="myosbb">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Моє ОСББ</div>
            <i class="material-icons green" style="float: right">apartment</i>
          </div>
        </a>
      </div>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="entertainment">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Розваги</div>
            <i class="fa fa-ticket red" aria-hidden="true" style="float: right; font-size: 17pt;"></i>
          </div>
        </a>
      </div>
      <!-- <div>
          <a class="sidebar-a" mat-list-item routerLink="">
            <div style="width: 100%">
              <div style="position: absolute; right: 24%; float: left">Чат</div>
              <i class="material-icons yellow" style="float: right">chat</i>
            </div>
          </a>
        </div> -->
      <div>
        <a class="sidebar-a" mat-list-item routerLink="forum">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Форум</div>
            <i class="material-icons brown" style="float: right">group</i>
          </div>
        </a>
      </div>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="news">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Новини</div>
            <i class="material-icons purpule" style="float: right">library_books</i>
          </div>
        </a>
      </div>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="voting">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Голосування</div>
            <i class="material-icons pink" style="float: right">playlist_add_check</i>
          </div>
        </a>
      </div>
      <div>
        <a class="sidebar-a" mat-list-item routerLink="statistic">
          <div style="width: 100%">
            <div style="position: absolute; right: 24%; float: left">Статистика</div>
            <i class="material-icons sea" style="float: right">show_chart</i>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>