<div style="position:relative; top: 20%; width: max-content; margin:auto">
  <!-- <div class="logo">
    <img src="../../assets/Images/logo.png">
  </div> -->
  <mat-card id="card-content">
    <div style="height: max-content; padding-top: 10%;  position: relative;">
      <form class="example-form" (ngSubmit)='login(userLogin, password, isRemembered)'>
        <mat-form-field class="example-full-width">
          <input type="tel" [(ngModel)]="userLogin" name="userLogin" autocomplete="off" matInput placeholder="Логін">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="password" name="password" matInput placeholder="Введіть свій пароль" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div class="form-row">
          <mat-checkbox [(ngModel)]="isRemembered" name="isRemembered">Запам'ятати мене</mat-checkbox>
        </div>
        <div class="form-row">
          <button type="submit" mat-raised-button class="blue" style="width: 176px;">Увійти</button>
        </div>

        <div class="form-row">
          <button type="button" routerLink="/landing/forgotPassword" mat-raised-button class="red" style="width: 176px;">Забув пароль?</button>
        </div>
      </form>
    </div>
    <mat-card-actions *ngIf="invalidLogin">
      <p style="color: red; margin: auto; font-family: 'Comfortaa', cursive;">{{invalidLoginErrorMessage}}</p>
    </mat-card-actions>
  </mat-card>
</div>

