/*content*/

.content {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 200px;
  height: max-content;
}

#card-content {
  height: 100%;
  min-height: max-content;
  min-width: 420px;
  width: 35%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255,255,255,.5);
}

.logo {
  background-color: white;
  top: -80px;
  border-radius: 10px;
  padding: 3px;
  position: absolute;
  /* min-width: 130px; */
  /* min-height: 122px; */
  width: 130px;
  /* height: 127px; */
  display: block;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 4;
  left: calc(50% - 65px);
}

  .logo > img {
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
  }

form > .example-full-width {
  display: block;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.form-row {
  width: 100%;
  padding-top: 25px;
}

mat-checkbox {
  display: block;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  width: max-content;
}

button {
  display: block;
  margin: auto;
}

.errorInput {
  color: red;
}

/*////////////////////////////////////////////////////////*/
