<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card class="user-card">
                <form (ngSubmit)="upload()">
                    <mat-card-header>
                        <mat-card-title style="font-family: 'Comfortaa', cursive;">Оберіть фотографію:</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <input #file type="file" name="image" accept=".jpg, .png" />
                    </mat-card-content>
                    <mat-card-actions>
                        <button type="submit" mat-button class="green">Оновитии</button>
                        <button mat-button class="red" (click)="onNoClick()">Відміна</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>
    </div>
</div>