.mdl-grid {
  display: flex;
}

.mdl-cell--2-col {
  min-width: 236px;
}

.user-card-form {
  flex: 1; /*grow*/
  padding-bottom: 20px;
}

@media (max-width: 768px) { /*breakpoint*/
  .mdl-grid {
    flex-direction: column;
  }
}
  
  
  .userpage-content{
    display: flex !important;
    top: 10%;
    position: relative;
  }
  
  .user-card {
    width: 300px;
    display: block;
    margin-left: 50px;
  }
  
  .user-card-form {
    width: 300px;
    display: block;
  }

  #updateForm {
    display: flex;
    flex-direction: column;
  }

  .mat-form-field
  {
    display: block;
  }

  .mat-card {
    margin-left: 10px;
    display: inline-table;
  }

  #shopingTable {
    width: 100%;
  }

  .firstColumn {
    text-align: left
  }