<div class="userpage-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <mat-card class="user-card" style="width: calc(100% - 32px);">
        <mat-card-header>
          <mat-card-title style="font-family: 'Comfortaa', cursive;">{{user.lastName}} {{user.firstName}} {{user.middleName}}</mat-card-title>
          <!-- <mat-card-subtitle>#id: {{user.id}}</mat-card-subtitle> -->
        </mat-card-header>
        <img  *ngIf="userMainImage === undefined" mat-card-image src="../../assets/Images/userDefault.png" alt="Photo of a Shiba Inu">
        <img  *ngIf="userMainImage !== undefined" mat-card-image [src]="userMainImage.imageSrc" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p style="font-family: 'Comfortaa', cursive;">
            Шановний {{user.firstName}} {{user.middleName}}! Це вашаша персональна сторінка, на якій ви можете редагувати особисті дані.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="pink" (click)="enableInputToggle()" style="display: block; margin: auto;">Редагувати</button>
          <button mat-button class="blue" (click)="openUploadUserImageDialog()" style="display: block; margin: auto;">Змінити фото профілю</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-card class="user-card-form" style="width: calc(100% - 32px);">
        <form id="updateForm" class="example-form" (ngSubmit)='updateUserData(userUpdate)'>
          <mat-card-content>
            <div  style="width: 100%">
                <mat-form-field class="example-full-width">
                  <input type="tel" matInput placeholder="Ім'я" [disabled]="diasbleInput" [(ngModel)]="userUpdate.firstName" name="firstName">
                  <mat-icon matSuffix>assignment_ind</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="tel" matInput placeholder="Прізвище" [disabled]="diasbleInput" [(ngModel)]="userUpdate.lastName" name="lastName">
                  <mat-icon matSuffix>assignment_ind</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="tel" matInput placeholder="По батькові" [disabled]="diasbleInput" [(ngModel)]="userUpdate.middleName" name="middleName">
                  <mat-icon matSuffix>assignment_ind</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="tel" matInput placeholder="E-mail" [disabled]="diasbleInput" [(ngModel)]="userUpdate.email" name="email">
                  <mat-icon matSuffix>contact_mail</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="tel" matInput placeholder="Телефон" [disabled]="diasbleInput" [(ngModel)]="userUpdate.phone" name="phone">
                  <mat-icon matSuffix>contact_phone</mat-icon>
                </mat-form-field>     
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="!diasbleInput">
            <button type="submit" mat-raised-button class="blue">Підтвердити</button>
            <button type="button" (click)="cancelUpdate()" mat-raised-button class="red">Відміна</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-card class="user-card-form" style="width: calc(100% - 32px);">
        <form id="updateForm" class="example-form" (ngSubmit)='updatePassword(oldPassword, newPassword, newPassword2)'>
          <mat-card-content>
            <div  style="width: 100%">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Введіть старий пароль" [disabled]="diasablePass"[(ngModel)]="oldPassword" name="oldPassword" [type]="hide ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Введіть новий пароль" [disabled]="diasablePass" [(ngModel)]="newPassword" name="newPassword" [type]="hide ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Повторіть новий пароль" [disabled]="diasablePass" [(ngModel)]="newPassword2" name="newPassword2" [type]="hide ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </div>
            <div *ngIf="showPasswordErroMessage" style="position:relative;margin: auto;">
                <p style="color: red; font-family: 'Comfortaa', cursive;">{{passwordErroMessage}}</p>
            </div>
          </mat-card-content>
          <mat-card-actions style="width: 100%; margin-left: 0px;">
            <button *ngIf="diasablePass" mat-raised-button type="button" class="blue" (click)="enablePasswordUpdate()" style="display: block; margin: auto;">Змінити пароль</button>
            <div *ngIf="!diasablePass" style="position:relative;margin: auto;">
                <button type="submit" mat-raised-button class="green" style="display: block; margin: auto;">Підтвердити</button>
                <button type="button" (click)="cancelPasswordUpdate()" mat-raised-button class="red" style="top: 10px; display: block; margin: auto;">Відміна</button>
            </div>
            
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <mat-card class="user-card-form">
          <mat-card-title style="font-family: 'Comfortaa', cursive;">
            Входи у систему <i class="material-icons purpule" style="margin: auto; position: relative; top: 5px;">important_devices</i>
          </mat-card-title>
          <mat-card-content>
            <table id="shopingTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="overflow-y: scroll; max-height: 479px; display: block;">
                <thead>
                    <tr>
                      <th>#</th>
                      <th class="mdl-data-table__cell--non-numeric">Заборонити доступ</th>
                      <th>Браузер</th>
                      <th>IP</th>
                      <th>Час</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let logins of userLogins; index as i" style="text-align: center">
                    <tr>
                      <td>{{i + 1}}</td>
                      <td><i class="material-icons">close</i></td>
                      <td>{{logins.browser}}</td>
                      <td>{{logins.whiteIP}}</td>
                      <td>{{logins.date}}</td>
                    </tr>
                  </tbody>
            </table>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>