html {
  font-family: 'Comfortaa', cursive;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255,255,255,.5);
}

.titleBackground {
  margin-left: calc(50% - 185px)!important;
  margin-right: auto!important;
  border-radius: 0px 0 10px 10px;
  padding: 20px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255,255,255,.5);
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


/*menu*/

#user_name {
  margin: auto;
  display: block;
  height: max-content;
  position: relative;
}

.example-toolbar {
  background-color: #ffffff00;
  /* box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%); */
  /*box-shadow: 0 14px 28px rgba(166, 161, 239, 0.41);*/
}

.example-toolbar > * {
  margin: auto 0 auto 0;
}

.mat-icon-button {
  color: black;
  font-family: 'Comfortaa', cursive;
}

.example-app-name {
  color: black;
  font-family: 'Comfortaa', cursive;
  /* margin-left: 100px; */
}

.mat-toolbar-menu {
  /*padding-right: 20px;*/
  height: 100%;
}

.mat-toolbar-menu > a {
  text-decoration: none;
  color: #0000008c;
}

.mat-toolbar-menu > .mat-raised-button{
  /*height: 100%;*/
  width: 150px;
  font-family: 'Comfortaa', cursive;
  box-shadow: none;
  height: 100%;
}

.main_menu {
  display: -webkit-inline-box;
}

.left-menu {
  width: max-content;
  display: -webkit-inline-box;
  float: right;
  right: 1%;
  position: absolute;
  padding-right: 10px;
  /*height: 100%;*/
}

@media screen and (max-width: 1600px) {
  .main_menu {
    display: none;
  }
}

/*////////////////////////////////////////////////////////*/


/*side-nav*/
.mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden!important;
}

.mat-drawer-container {
  background-color: #3f51b500;
}

.mat-nav-list {
  top: 23%;
  position: relative;
}

.mat-nav-list .mat-list-item {
  padding: 30px 0 30px 0;
}

.mat-drawer {
  background-color: #fff;
  font-family: 'Comfortaa', cursive;
  /*border-radius: 0px 10px 10px 0px;*/
  height: 50vh;
  min-width: 315px;
  min-height: 700px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255,255,255,.5);
}

.menu-icon {
  float: right;
  position: absolute;
  right: 7%;
}

.sidebar-a {
  font-family: 'Comfortaa', cursive;
  font-size: 12pt;
}
/*////////////////////////////////////////////////////////*/


/*content*/

.mat-sidenav-content {
  margin-left: 0px !important;
}

.mat-sidenav {
  top: 0px !important;
  height: 100%;
}

.content {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 200px;
  width: 65%;
  height: max-content;
}
/*////////////////////////////////////////////////////////*/
