/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('../src/assets/lib/mdl/material.css');
@import url('../src/assets/lib/mdl/material.min.css');
@import url('../src/assets/css/font-awesome-4.7.0/css/font-awesome.min.css');

body {
  background-image: url(../src/assets/images/backgroundR4.jpg);
}


.blue {
  color: #4eb1e2;
}

.blue:hover {
  background-color: rgba(78, 177,226,0.22) !important;
  fill: none !important;
}

.blue > .mat-button-focus-overlay {
  background-color: rgba(78, 177,226,0.22) !important;
  fill: none !important;
}


.green {
  color: #92cc80;
}

.green:hover {
  background-color: rgba(146, 204,128,0.22) !important;
  fill: none !important;
}

.green > .mat-button-focus-overlay {
  background-color: rgba(146, 204,128,0.22) !important;
  fill: none !important;
}

.red {
  color: #fb5f5f;
}
.red:hover {
  background-color: rgba(251, 95, 95, 0.22) !important;
  fill: none !important;
}

.red > .mat-button-focus-overlay {
  background-color: rgba(251, 95, 95, 0.22) !important;
  fill: none !important;
}


.yellow {
  color: #d6d62f;
}

.yellow:hover {
  background-color: rgba(214, 214, 47, 0.22) !important;
  fill: none !important;
}

.yellow > .mat-button-focus-overlay {
  background-color: rgba(214, 214, 47, 0.22) !important;
  fill: none !important;
}

.orange {
  color: #f47536;
}

.orange:hover {
  background-color: rgba(244, 117, 54, 0.22) !important;
  fill: none !important;
}

.orange > .mat-button-focus-overlay {
  background-color: rgba(244, 117, 54, 0.22) !important;
  fill: none !important;
}

.purpule_color {
  color: #9a33f5;
}

.purpule {
  color: #9a33f5;
}

.purpule:hover {
  background-color: rgba(154, 51, 245, 0.22) !important;
  fill: none !important;
}

.purpule > .mat-button-focus-overlay {
  background-color: rgba(154, 51, 245, 0.22) !important;
  fill: none !important;
}


.gray {
  color: #9a9a9a;
}

.gray:hover {
  background-color: rgba(154, 154, 154, 0.22) !important;
  fill: none !important;
}

.gray > .mat-button-focus-overlay {
  background-color: rgba(154, 154, 154, 0.22) !important;
  fill: none !important;
}

.pink {
  color: rgb(255, 79, 154);
}

.pink:hover {
  background-color: rgba(252, 0, 154, 0.22) !important;
  fill: none !important;
}

.pink > .mat-button-focus-overlay {
  background-color: rgba(252, 0, 154, 0.22) !important;
  fill: none !important;
}

.sea {
  color: rgb(36, 213, 226);
}

.sea:hover {
  background-color: rgba(36, 213, 154, 0.22) !important;
  fill: none !important;
}

.sea > .mat-button-focus-overlay {
  background-color: rgba(36, 213, 154, 0.22) !important;
  fill: none !important;
}

.brown {
  color: rgb(175, 85, 0);
}

.brown:hover {
  background-color: rgba(175, 85, 0, 0.22) !important;
  fill: none !important;
}

.brown > .mat-button-focus-overlay {
  background-color: rgba(175, 85, 0, 0.22) !important;
  fill: none !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

.mat-drawer-backdrop.mat-drawer-shown {
  /* background: rgba(255, 255, 255, 0) !important; */
  display: none!important;
}

.popupmessage{
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255,255,255,.5);
}