<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card id="card-content">
      <mat-card-header>
        <p style="font-family: 'Comfortaa', cursive; font-size: 20pt;">Про авторів</p>
      </mat-card-header>
      <mat-card-content>
        <div class="mdl-cell mdl-cell--4-col"
          style="width: calc(33.3333333333% - 77px); display: inline-flex; margin: 0px 3% 0 3%;">
          <mat-card class="user-card" style="box-shadow: 0 0px 20px 6px #ffffff;">
            <mat-card-header>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Плисак Владислав Олександрович
              </p>
              <mat-card-title style="font-family: 'Comfortaa', cursive;"></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/Images/devImg/VP.jpg" alt="Плисак Владислав">
            <mat-card-content>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Студент ВНТУ, група 3АКІТ-18М. Розробка підсистеми сервісів та
                інструментів інформаційної системи "Картка Вінничанина".
              </p>
            </mat-card-content>
            <mat-card-actions>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Науковий керівник: Ковалюк О.О. <br>Доцент кафедри комп'ютерних систем управління.
              </p>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="mdl-cell mdl-cell--4-col"
          style="width: calc(33.3333333333% - 77px); display: inline-flex; margin: 0px 3% 0 3%;">
          <mat-card class="user-card" style="box-shadow: 0px 0px 20px 6px #223647">
            <mat-card-header>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Кисельов Владислав Віталійович
              </p>
              <mat-card-title style="font-family: 'Comfortaa', cursive;"></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/Images/devImg/VK.jpg" alt="Кисельов Владислав">
            <mat-card-content>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Студент ВНТУ, група 3АКІТ-18М. Розробка "Підсистеми аналізу даних та обліку даних"
                інформаційної системи "Картка Вінничанина".
              </p>
            </mat-card-content>
            <mat-card-actions>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Науковий керівник: Никитенко О.Д. <br>Доцент кафедри комп'ютерних систем управління.
              </p>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="mdl-cell mdl-cell--4-col"
          style="width: calc(33.3333333333% - 77px); display: inline-flex; margin: 0px 3% 0 3%;">
          <mat-card class="user-card" style="box-shadow: 0px 0px 20px 6px #b4446e">
            <mat-card-header>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Сембрат Дем'ян Сергійович
              </p>
              <mat-card-title style="font-family: 'Comfortaa', cursive;"></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/Images/devImg/DS.jpg" alt="Дем'ян Сембрат">
            <mat-card-content>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Студент ВНТУ, група 3АКІТ-18М. Розробка концепції інформаційної системи "Картка
                Вінничанина".
              </p>
            </mat-card-content>
            <mat-card-actions>
              <p style="font-family: 'Comfortaa', cursive; font-size: 15pt;">
                Науковий керівник: Никитенко О.Д. <br>Доцент кафедри комп'ютерних систем управління.
              </p>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions style="background-color: white; padding: 16px; border-radius: 10px;">
        <p style="font-family: 'Comfortaa', cursive;">
          Дана робота є магістерською роботою
        </p>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>