#card-content {
    display: block;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);  
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255,255,255,.5);
  }