<h1 mat-dialog-title>Створити нову тему</h1>
<div mat-dialog-content style="height: 212px; font-family: 'Comfortaa', cursive;">
    <p>Заповніть форму:</p>
    <form class="example-form"
        (ngSubmit)='createNewTopic(title, message)'>
        <mat-form-field class="example-full-width" style="width: 100%">
            <input type="tel" [(ngModel)]="title" name="title" matInput placeholder="Назва теми">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
            <textarea [(ngModel)]="message" name="message" matInput placeholder="Повідомлення"></textarea>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div class="form-row" style="text-align: center;">
            <div style="display: -webkit-inline-box; margin: auto; width: min-content;">
                <button type="submit" mat-raised-button class="blue" style="font-family: 'Comfortaa', cursive;">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions style="text-align: center;">
    <button mat-button class="red" style="font-family: 'Comfortaa', cursive; margin: auto;" (click)="onNoClick()">Відміна</button>
</div>