<div class="mdl-cell mdl-cell--3-col">
  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect green" (click)="openDialog()" style="font-family: 'Comfortaa', cursive;
  width: max-content;background-color: #ffffff; box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);">
    Створити тему для обговорення
  </a>
</div>

<div class="mdl-cell mdl-cell--12-col">

  <mat-card style="width: 95%;">
    <mat-card-title style="font-family: 'Comfortaa', cursive;">
      Часто обговорювані теми <i class="material-icons red"
        style="margin: auto; position: relative; top: 5px;">fireplace</i>
    </mat-card-title>
    <mat-card-content>
      <table id="shopingTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
        *ngIf="forumTopics !== undefined">
        <tbody *ngFor="let topic of this.forumTopics;">
          <tr>
            <td class="mdl-data-table__cell">{{topic.title}}</td>
            <td class="mdl-data-table__cell">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="{{topic.id}}">
                Детальніше
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>