.noVotesDiv {
    position: relative;
    width: 100%;
    margin: 120px 0px;
}

.noVotesP {
    width: max-content;
    margin: auto;
    font-size: 29px;
    font-family: 'Comfortaa', cursive;
    display: block;
    color: #fb5f5f;
}

.commentsSection {
    width: 100%;
}

.chart {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}