<div class="mdl-grid" *ngIf="!noApartments">
  <mat-toolbar style="border-radius: 10px;">
    <a class="sidebar-a" mat-list-item routerLink="../../../voting">
      <div style="float: left; font-family: 'Comfortaa', cursive;">
        Голосування
      </div>
    </a>
    <i class="material-icons">
      keyboard_arrow_right
    </i>
    <p style="font-family: 'Comfortaa', cursive; font-size: 20px; margin: 0;">
      {{ petitionDto.petitionName }}
    </p>
  </mat-toolbar>
  <div class="mdl-cell mdl-cell--6-col">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Петиція №{{ petitionDto.id }}
      </mat-card-title>
      <mat-card-content>
        <p style="font-family: 'Comfortaa', cursive;">
          {{ petitionDto.description }}
        </p>
        <p style="font-family: 'Comfortaa', cursive;">
          Автор: {{ petitionDto.authorLastName }} {{ petitionDto.authorFirstName }}. Дата створення:
          {{ petitionDto.date | date: "medium" }}
        </p>

        <div *ngIf="!petitionVotesDto.isUserVoted">
          <button mat-raised-button class="green" style="font-family: 'Comfortaa', cursive; margin-right: 25px;"
            (click)="vote(true)">
            Підтримую
          </button>
          <button mat-raised-button class="red" style="font-family: 'Comfortaa', cursive;" (click)="vote(false)">
            Не підтримую
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col" *ngIf="this.pieChartData[0] > 0 || this.pieChartData[1] > 0">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
        Результат голосування
      </mat-card-title>
      <mat-card-content>
        <div class="chart">
          <canvas baseChart width="290" height="290" [datasets]="pieChartDataSet" [data]="pieChartData"
            [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
            [colors]="pieChartColors" [legend]="pieChartLegend">
          </canvas>
        </div>
        <p style="font-family: 'Comfortaa', cursive; padding-top: 27px; width: max-content; margin: auto;" *ngIf="petitionVotesDto.votesList != undefined">
          Проголосувало: {{ petitionVotesDto.votesList.length }}/1000
        </p>
      </mat-card-content>
    </mat-card>
    <!-- <div>
      <div>
        
      </div>
    </div> -->
  </div>
  <div class="mdl-cell mdl-cell--12-col noVotesDiv" *ngIf="this.pieChartData[0] === 0 && this.pieChartData[1] === 0">
    <p class="noVotesP">Голоси відсутні</p>
  </div>
  <div class="mdl-cell mdl-cell--12-col" class="commentsSection">
    <mat-card>
      <mat-card-title style="font-family: 'Comfortaa', cursive;">
      </mat-card-title>
      <mat-card-content>
        <disqus [identifier]="disqusIdentifier">
        </disqus>
      </mat-card-content>
    </mat-card>
  </div>
</div>