<div class="mdl-cell mdl-cell--12-col">
  <mat-toolbar>
    <a class="sidebar-a" mat-list-item routerLink="../../forum">
      <div style="float: left; font-family: 'Comfortaa', cursive;">Форум</div>
    </a>
    <i class="material-icons">
      keyboard_arrow_right
    </i>
    <p style="font-family: 'Comfortaa', cursive; font-size: 20px; margin: 0;">{{forum.title}}</p>
  </mat-toolbar>
  <mat-card style="padding:0px;border-radius: 0 0 10px 10px;">
    <mat-card-content *ngIf="forumMessages">
      <div class="mdl-cell mdl-cell--2-col" style="margin-left: 0px;margin-bottom:0px; display:inline-block;">
        <img *ngIf="forumMessages.forumMessages[0].authorImageSrc ==''"mat-card-image [src]="'../../assets/Images/userDefault.png'" alt="Photo of a Shiba Inu"
          style="margin:0px; width: 200px;height: 200px; border-radius: 0 0 0 10px;">
        <img *ngIf="forumMessages.forumMessages[0].authorImageSrc" mat-card-image [src]="forumMessages.forumMessages[0].authorImageSrc" alt="Photo of a Shiba Inu"
          style="margin:0px; width: 200px;height: 200px; border-radius: 0 0 0 10px;">
          
      </div>
      <div class="mdl-cell mdl-cell--8-col topicHeaderText" *ngIf="forumMessages">
        <div class="mdl-cell mdl-cell--8-col topicHeaderText" style="height: 75%">
          <p style="float: left; font-family: 'Comfortaa', cursive;">{{forumMessages.forumMessages[0].message}}</p>
        </div>
        <div class="mdl-cell mdl-cell--8-col topicHeaderText" style="height: 20%">
          <p style="float: left; font-family: 'Comfortaa', cursive;">Автор:
            {{forumMessages.forumMessages[0].authorMessageLogin}}</p>
          <p style="position: relative; font-family: 'Comfortaa', cursive;left: 50px">Дата:
            {{forumMessages.forumMessages[0].date | date:'medium'}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="mdl-cell mdl-cell--12-col">
  <mat-card style="padding:0px;border-radius: 0 0 10px 10px;background-color: #ffffff00;">
    <mat-card-content style="height: max-content;" *ngIf="forumMessages">
      <mat-paginator #paginatorTop [length]="forumLength" [pageSize]="forumPageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = paginateForumMessagesTop($event)">
      </mat-paginator>
      <mat-card class="forumMessage" *ngFor="let forumMessage of forumMessages.forumMessages | slice:1">
        <mat-card-content style="background-color: #ffffff00;">
          <div>
            <div class="forumMessageImageArea">
              <img *ngIf="forumMessage.authorImageSrc ==''" mat-card-image [src]="'../../assets/Images/userDefault.png'" alt="Photo of a Shiba Inu"
                class="forumMessageImageAreaImage">
                <img *ngIf="forumMessage.authorImageSrc" mat-card-image [src]="forumMessage.authorImageSrc" alt="Photo of a Shiba Inu"
                class="forumMessageImageAreaImage">
            </div>
            <div style="display: inline-block; width: 80%; height: max-content;top: 0px;position: relative;z-index: 3; cursor: pointer;"
              (click)="selectComment(forumMessage.id, forumMessage.message, forumMessage.authorMessageLogin)">
              <div style="margin: 10px;padding: 10px;font-size: 13pt;background-color: #eeeeee;border-radius: 10px;" *ngIf='forumMessage.quote !== ""'>
                  <span style="text-decoration: underline;font-weight: bold;">{{forumMessage.authorQuoteLogin}}: </span>
                  <span style="font-style: italic;">"{{forumMessage.quote}}"</span>
                </div>
              <div style="margin: 10px;font-size: 13pt;float: right;" *ngIf='forumMessage.quote !== ""'>
                <i class="material-icons"> reply</i> {{forumMessage.message}}
              </div>
              <div style="margin: 10px;font-size: 13pt;" *ngIf='forumMessage.quote === ""'>
                {{forumMessage.message}}
              </div>
            </div>
          </div>
          <div>
            <div class="forumMessageLoginArea">{{forumMessage.authorMessageLogin}}</div>
            <div class="forumMessageDateArea">
              <div style="margin: 10px;">
                Дата: {{forumMessage.date | date:'medium'}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>


      <mat-paginator #paginatorBottom style="background-color: #ffffff00;" [length]="forumLength"
        [pageSize]="forumPageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = paginateForumMessagesBottom($event)">
      </mat-paginator>
    </mat-card-content>
    <mat-card-actions *ngIf="!diasbleInput"
      style="background-color: #d8bebe2b;margin-left: 0px;border-radius: 0 0 10px 10px;margin-right: 0px;">
      <div *ngIf='comment !== ""' style="margin-left: 15px">
        <p style="font-family: 'Comfortaa', cursive;font-size: 15pt;">
            <i class="material-icons" style="position: relative; top: 8px;">keyboard_return</i>
            <span style="text-decoration: underline;">{{author}}</span>: <span style="font-style: italic;">"{{comment}}"</span>
            <i class="material-icons" (click)="deleteComment()" style="left: 15px; position: relative; top: 5px; cursor: pointer;">close</i>
        </p>
      </div>
      <form id="sendMessageForm" class="example-form" (ngSubmit)='sendMessage(message)' style="margin-left: 15px;">
        <div style="display: inline-block; width: 89%;">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <textarea style="font-family: 'Comfortaa', cursive;" type="tel" matInput placeholder="Повідомлення"
              [(ngModel)]="message" name="message"></textarea>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button class="blue" style="display: inline-block;"><i
            class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>