.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    background: white;
    border-radius: 10px 10px 0px 0px;
}

.topicHeaderText {
    margin-left: 0px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 192px;
}

.forumMessage {
    width: 95%;
    margin: auto auto 25px auto;
    font-family: 'Comfortaa', cursive;
}

.forumMessageImageArea {
    vertical-align: top;
    display: inline-block;
    width: 13%;
    height: 180px;
    font-family: 'Comfortaa', cursive;
    border-right: solid 1px #e6e6e6;
}

.forumMessageImageAreaImage {
    width: 100px;
    height: 100px;
    margin: 26px 45px!important;
    border-radius: 10px 10px!important;
    font-family: 'Comfortaa', cursive;
}

.forumMessageLoginArea {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 13%;
    height: 25px;
    font-family: 'Comfortaa', cursive;
    border-right: solid 1px #e6e6e6;
}

.forumMessageDateArea {
    display: inline-block;
    width: 80%;
    height: 25px;
    font-family: 'Comfortaa', cursive;
}


