<div style="position:relative; top: 20%; width: max-content; margin:auto">
    <!-- <div class="logo">
      <img src="../../assets/Images/logo.png">
    </div> -->
    <mat-card id="card-content">
      <div style="height: max-content; padding-top: 10%;  position: relative;">
        <form class="example-form" (ngSubmit)='sendMessageForUpdatingPassword(email)'>
          <mat-form-field class="example-full-width">
            <input type="email" [(ngModel)]="email" name="email" autocomplete="off" matInput placeholder="Введіть вашу поштову адресу">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>         
          <div class="form-row">
            <button type="submit" mat-raised-button class="blue" style="width: max-content;">Надіслати повідомлення про оновленя паролю.</button>
          </div> 
          <div class="form-row">
            <button type="button" mat-raised-button class="red" routerLink="/landing/login" style="width: 176px;">Відміна</button>
          </div>
        </form>
      </div>
      <mat-card-actions *ngIf="invalidEmail">
        <p style="color: red; margin: auto; font-family: 'Comfortaa', cursive; width: max-content;">Ви ввели не вірну поштову скриньку!</p>
      </mat-card-actions>
    </mat-card>
  </div>