.newspage-content {
  display: flex !important;
  top: 10%;
  position: relative;
}

.mdl-grid {
  /* width: 100%; */
}

.mat-tab-group > mat-tab-body-wrapper {
  text-align: center!important;
  height: 100%!important;
}

.mat-tab-label {
  margin: auto!important;
}

.mdl-card {
  margin-right: 10px;
  margin-top: 10px;
  height: max-content;
  border-radius: 10px;
  width: 300px;
}

.mdl-card__title {
  background-size: cover;
  height: 250px!important;
  opacity: 0.4;
}