<!-- <div class="newspage-content">

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" *ngIf="articlesResult">
    <div class="mdl-tabs__tab-bar">
      <a href="#starks-panel" class="mdl-tabs__tab is-active">Starks</a>
      <a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
      <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="starks-panel" style="text-align: center">
      <div class="demo-card-square mdl-card mdl-shadow--2dp" *ngFor="let article of articlesResult.articles">
        <div class="mdl-card__title mdl-card--expand" [style.backgroundImage]="'url('+ article.urlToImage +')'">
          <h2 class="mdl-card__title-text" style="color: #fff;">{{article.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{article.description}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink]="[article.source]">
            Детальніше
          </a>
        </div>
      </div>
    </div>
    <div class="mdl-tabs__panel" id="lannisters-panel">
      <ul>
        <li>Tywin</li>
        <li>Cersei</li>
        <li>Jamie</li>
        <li>Tyrion</li>
      </ul>
    </div>
    <div class="mdl-tabs__panel" id="targaryens-panel">
      <ul>
        <li>Viserys</li>
        <li>Daenerys</li>
      </ul>
    </div>
  </div>


</div> -->

<mat-tab-group mat-align-tabs="center" animationDuration="1500ms" (selectedTabChange)="getNews($event)"
  (window:resize)="onResize($event)" style="text-align: center; height: 100%;">
  <mat-tab label="Україна">
    <ng-container *ngFor="let articlesResult of articlesResultArray; index as i">
      <div style="display: inline-block; vertical-align: top; text-align: center; margin-bottom: 20px;">
        <ng-container *ngFor="let article of articlesResult; index as j">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand"
              [style.backgroundImage]="'url('+ articlesResultArray[i][j].urlToImage +')'">
              <h2 class="mdl-card__title-text" style="color: #fff;">{{articlesResultArray[i][j].title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              {{articlesResultArray[i][j].description}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                [href]="articlesResultArray[i][j].url">
                Детальніше
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="Вінниця">
      <ng-container *ngFor="let articlesResult of articlesResultArray; index as i">
        <div style="display: inline-block; vertical-align: top; text-align: center; margin-bottom: 20px;">
          <ng-container *ngFor="let article of articlesResult; index as j">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand"
                [style.backgroundImage]="'url('+ articlesResultArray[i][j].urlToImage +')'">
                <h2 class="mdl-card__title-text" style="color: #fff;">{{articlesResultArray[i][j].title}}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                {{articlesResultArray[i][j].description}}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                  [href]="articlesResultArray[i][j].url">
                  Детальніше
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </mat-tab>
  <mat-tab label="Спорт">
    <ng-container *ngFor="let articlesResult of articlesResultArray; index as i">
      <div style="display: inline-block; vertical-align: top; text-align: center; margin-bottom: 20px;">
        <ng-container *ngFor="let article of articlesResult; index as j">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand"
              [style.backgroundImage]="'url('+ articlesResultArray[i][j].urlToImage +')'">
              <h2 class="mdl-card__title-text" style="color: #fff;">{{articlesResultArray[i][j].title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              {{articlesResultArray[i][j].description}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                [href]="articlesResultArray[i][j].url">
                Детальніше
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="Розваги">
    <ng-container *ngFor="let articlesResult of articlesResultArray; index as i">
      <div style="display: inline-block; vertical-align: top; text-align: center; margin-bottom: 20px;">
        <ng-container *ngFor="let article of articlesResult; index as j">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand"
              [style.backgroundImage]="'url('+ articlesResultArray[i][j].urlToImage +')'">
              <h2 class="mdl-card__title-text" style="color: #fff;">{{articlesResultArray[i][j].title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              {{articlesResultArray[i][j].description}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                [href]="articlesResultArray[i][j].url">
                Детальніше
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>